<div class="box-container" style="min-height:1000px; background-image:url('sketchy.png');">
    <div class="row">
        <div class="black-box">
            <div class="body-text"> <h1>About Page</h1> </div>
            <div class="body-text"> <p class="information"> Elusive Hippo is a many things. First off, Elusive Hippo began as a side project of Van Nguyen a few years ago as he realized that there was no efficient way to deploy Node.js applications. Realizing how awesome it would be to create his own deployment application framework, he began through research and implementation. After a few months of hard work, he successfully implemented the first such application.  </p></div>
        </div>
    </div>
</div>