<div class="box-container" style="min-height:1000px; background-image:url('sketchy.png');">
    <div class="row">
        <div class="black-box">
            <div class="body-text"> <h1>Contact Page</h1> </div>
            <div class="body-text"> <p class="information"> If you have any questions about the site, or would like to give us feedback, please feel free to send an email to benobviate@gmail.com</p></div>
        </div>
    </div>
</div>