<div class="box-container" style="min-height:1000px; background-image:url('sketchy.png');">
    <div class="row">
        <div class="black-box">
            <div class="body-text"> <h1>Welcome to Elusive Hippo!</h1> </div>
            <div class="body-text"> <p> This is a test to see how the bootstrap css works. Unfortunately it is not. </p></div>
        </div>
    </div>
</div>