
<%= stylesheet_link_tag "home"%>
<div class="box-container" style="min-height:1000px; background-image:url('sketchy.png');">
    <div class="row">
        <div class="black-box">
            <div class="body-text"> <h1> I &lt;3 my panda </h1> </div>
            <div class="body-text"> <p> Some text about how you are awesome. </p></div>
            <img  src="coolhippo.png">
        </div>
    </div>
</div>



