

<div class="box-container">
    <div class="row">
        <div class="black-box">
            <div class="body-text"> 
                <h1 id="cloud-title">To The Cloud! </h1>
                
                <p id="cloud-subtitle"> Deploy Your Application </p>
                <%= image_tag "sky_hippo.png", :id => "sky-hippo"%>
            
            
            </div>
    
            
            <div id="confirm-city">
                <div class="col0">
                    <p>Become an Elusive Hippo. Join for free:</p>
                         <div class="formbox clear">
                             <div class="selector" id="uniform-id_city">
                                <span>San Francisco</span>
                                <select id="id_city" class="signup-location" name="city" style="opacity: 0; ">
                                <option value="59">Akron/Canton</option>
                                <option value="60">Albany</option>
                                <option value="62">Allentown/Reading</option>
                                <option value="10">Atlanta</option>
                                </select>
                            </div>     
                        </div>
                        <div class="submit-button">
                            <input id="signup-submit-city" type="button" class="formbutton" value="Get started - it's free!">
                        </div>
                </div>
                <div class="col1" style="margin-top:30px">
                </div>
             </div>
           
        </div>
    </div>
</div>



