<div class="box-container" style="min-height:1000px; background-image:url('sketchy.png');">
    <div class="row">
        <div class="black-box">
            <div class="body-text"> <h1>Terms and Conditions of Use</h1> </div>
            <div class="body-text"> <p> By viewing this page, you agree to have fun. </p></div>
        </div>
    </div>
</div>