<div id="header">
    <div class="wrapper">           
         <div id="logo-container">
             <p class="logo-header">
                <%= link_to "Elusive Hippo", root_path%>
             </p>
             <p id="sign-in-link">
                <%= link_to "Sign In", sign_in_path%>   
             </p>
        </div> 
    </div>
</div>