<!DOCTYPE html>
<html>
<head>
  <title>ElHippo</title>
  <%= stylesheet_link_tag    "main", "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image:url('http://www.desktopedia.com/bulkupload/Windows/part1/Clean%20Gray%20BackGround.jpg');">
    <header>
        <div class="container">
            <div class ="wrapper" style="background-color:white;opacity: 0.7;">
                <a href="pages/home">
                    <h1 style="text-align:center">Elusive Hippo</h1>
                </a>
                <nav>
                    <a href="www.google.com" class="sign-in-link">sign in</a>
                </nav>
            
            </div>
        </div>
        
    </header>

<%= yield %>

    <div id="footer">
        <div class="container">
            <div class="wrapper" style="background-image:url('http://www.dreamdesignerholidays.com/images/footer_background.gif');min-height:100px">
               
                    <a href="pages/home">Home</a>
                    <a href="pages/about">About</a>
                    <a href="pages/sign_in">Sign In</a>
                    <a href="pages/terms">Terms of Service</a>
                    <a href="pages/contact">Contact</a>
                    <a href="pages/site_map">Site Map</a>
                    
            </div>
        </div>
    </div>
</body>
</html>
